<h1>Virtual Scroll</h1>
<hr>



<cdk-virtual-scroll-viewport itemSize="50" class="list-container">
  <div  class="list-group-item animate__animated animate__bounce" *cdkVirtualFor="let item of personas; let i = index; let count=count;">

      Item {{ i}} / {{ count }}

  </div>
</cdk-virtual-scroll-viewport>


<div class="row mt-2">

  <div class="col-4 text-primary">
    <div class="btn btn-primary" (click)="irInicio()">
      Ir al inicio
    </div>
  </div>



  <div class="col-4 text-center">
    <div class="btn btn-warning text-white" (click)="irCentro()">
      Ir al centro
    </div>
  </div>

  <div class="col-4 text-right">
    <div class="btn btn-secondary" (click)="irFinal()">
        Ir al final
    </div>
  </div>
</div>
